<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>열차 예약 시스템</title>
</head>
<body>

    <h1>백엔드 테스트 공간!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <ul>
        <li><a href="/train/cityCodes" th:href="@{/train/cityCodes}">도시    코드 보기</a></li>
        <li><a href="#" onclick="promptForCityCode()">도시 번호로 기차역 보기</a></li>
        <li><a href="/train/vhcleKndList" th:href="@{/train/vhcleKndList}">차량 종류 목록 보기</a></li>
    </ul>

    <form id="trainInfoForm" action="/train/trainInfo" method="get">
        <div>
            <label for="dePlaceId">출발지 </label> 
            <input type="hidden" id="departureStationId" name="depPlaceId">
            <input type="text" id="departureStationName" placeholder="출발지!">
            <button type="button" onclick="openDepartureLocationPopup()">출발지 검색</button>
        </div>
        <div>
            <label for="arrPlaceId">도착지 </label> 
            <input type="hidden" id="arrivalStationId" name="arrPlaceId">
            <input type="text" id="arrivalStationName" placeholder="도착지!">
            <button type="button" onclick="openArrivalLocationPopup()">도착지 검색</button>
        </div>
        <div>
            <label for="depPlandTime">출발 날짜</label> 
            <!-- <input type="text" name="depPlandTime" placeholder="출발 날짜!"> -->
            <input type="date" id="depPlandTime" name="depPlandTime" placeholder="출발 날짜!">
        </div>
        <div>
            <input type="submit" value="기차표 검색">
        </div>
    </form>
    <!-- Departure location popup -->
    <div id="departureLocationPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeDepartureLocationPopup()">&times;</span>
            <h2>도시 및 기차역 선택</h2>

	        <!-- City and Train Station Selection -->
	        <div class="location-selection">
	            <!-- City selection -->
	            <div class="popup-column">
	                <h3>도시를 선택하세요.</h3>
	                <ul class="location-list" id="cityCodeList"></ul>
	            </div>
	
	            <!-- Train station selection -->
	            <div class="popup-column">
	                <h3>기차역을 선택하세요.</h3>
	                <ul class="location-list" id="trainStationList"></ul>
	            </div>
	        </div>
        </div>
    </div>
</body>
<link rel="stylesheet" type="text/css" href="css/train.css">
<script type="text/javascript" src="js/train.js"></script>
</html>
