@charset "EUC-KR";
/*agree.html*/

body {
	font-family: Arial, sans-serif;
}

.agreement-container {
	max-width: 600px;
	margin: 40px auto;
}

.agreement-container h2 {
	text-align: center;
}

.agreement-section {
	text-align: center;
}

.agreement {
	width: 500px;
	height: 150px;
	border: 1px solid black;
	overflow-y: scroll;
	margin: 10px auto;
	/* 가운데 정렬을 위해 추가 */
	text-align: left;
	/* 텍스트는 왼쪽 정렬을 유지 */
}

.btn-container {
	display: flex;
	/* 가로로 정렬되도록 설정 */
	justify-content: center;
	/* 가운데 정렬 */
	margin-top: 1px;
}

.btn-container button {
	padding: 5px 10px;
	/* 버튼 내부 여백 조절 */
	margin: 15px 20px;
	/* 버튼 간격 조절 */
	width: 200px;
	/* 버튼 너비 조절 */
	height: 30px;
	/* 버튼 높이 조절 */
	font-size: 14px;
	/* 폰트 크기 조절 */

}

.agreement {
	width: 500px;
	height: 150px;
	border: 1px solid black;
	overflow-y: scroll;
	/* y축으로 오버플로우 되는 것을 scroll방식으로 바꾸는 것 */
	/*지금은 가로폭이 500으로 정해져 있어서 폭을 넘기면 아래로 내려오기 때문에 세로로 한 것임 */
}

/* 확인 버튼 스타일 수정 */
.btn-container button:nth-child(1) {
	background-color: navy;
	color: white;
	/* 텍스트를 흰색으로 설정 */
}

/* 취소 버튼 스타일 수정 */
.btn-container button:nth-child(2) {
	color: navy;
	background-color: white;
	/* 텍스트를 남색으로 설정 */
	
}

