@charset "EUC-KR";

.form-group {
    position: relative;
    margin-bottom: 70px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-top: 20px;
    /* 밑줄 사이의 공간 조절 */
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease-out;
    margin-top: -40px;
    /* 밑줄과 글자 간의 간격 조절 */
}

/* 추가: 입력 칸에 포커스가 갔을 때 스타일 변경 */
.form-control:focus {
    box-shadow: none;
    border-color: #007bff; /* 포커스일 때의 색상 조절 */
}

/* 수정: 중앙 정렬 및 입력 칸 간격 조절 */
#name,
#phone {
    flex: 1;
    width: 100%;
}

/* 수정: 버튼 사이 간격 조절 */
.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -70px;
}

.btn-container button {
	padding: 5px 10px;
	/* 버튼 내부 여백 조절 */
	margin: 15px 20px;
	/* 버튼 간격 조절 */
	width: 200px;
	/* 버튼 너비 조절 */
	height: 30px;
	/* 버튼 높이 조절 */
	font-size: 14px;
	/* 폰트 크기 조절 */

}

/* 확인 버튼 스타일 수정 */
.btn-container button:nth-child(2) {
    background-color: navy;
    color: white;
    /* 텍스트를 흰색으로 설정 */
}
/* 취소 버튼 스타일 수정 */
.btn-container button:nth-child(1) {
    background-color: white;
    color: navy;
    /* 텍스트를 남색으로 설정 */
}

/* 수정: 로그인과 아이디 찾기를 왼쪽으로 이동 */
.row.justify-content-center {
    margin-right: -40px;
}


/*여기 3개는 footer를 밑으로 내리는 작업*/
html, body {
    height: 100%
}

form {
    min-height: 100%;
    position: relative;
    padding-bottom: 150px;
}

footer {
    bottom: 0;
}