@charset "EUC-KR";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
      padding-bottom: 100px; /* 또는 다른 값으로 조절 */
  
}

main {
  flex: 1;
   flex-grow: 1;
}

footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-top: 50px solid white;
  background-color: #f8f9fa;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* 추가된 부분 */
}

.footer-message,
.footer-contact,
.footer-copyright {
  font-size: 0.9rem;
  color: #545e6f;
  text-align: left;
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
}

.footer-message {
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: flex;
  flex-wrap: wrap;
}

.footer-message span {
  flex: 1;
}

.footer-contact,
.footer-copyright {
  align-items: center;
}

.footer-contact img,
.footer-copyright img {
  display: inline-block;
  margin: 0 0.5rem;
}
