@charset "EUC-KR";

/* login.html */

.form-group {
  margin-bottom: 30px;
}

.btn-primary {
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
}

.group {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  padding-bottom: 40px;
}

.group a {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  /* 다양한 스타일 적용 가능 */
  text-decoration: none;
  /* 밑줄 제거 */
}

/* 입력 필드 스타일링 */
.form-group {
  position: relative;
  margin-bottom: 80px; /* 조정된 부분 */
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-top: 5px;
  /* 입력 필드 사이의 간격 */
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease-out;
  margin-top: -40px;
  /* 입력 시 라벨 위로 이동하여 겹치는 효과 */
}

.form-group input:focus+label,
.form-group input:valid+label {
  top: -12px;
  font-size: 12px;
  color: #007bff;
}

.form-group input:focus {
  border-bottom: 2px solid #007bff;
}

/* 제출 버튼 스타일 */
.form-group button[type="submit"] {
  background-color: navy;
  color: white;
  /* 활성화 시 배경색과 글자색 변경 */
}

/* 취소 버튼 스타일 */
.form-group button[type="button"] {
  background-color: white;
  color: navy;
  /* 활성화 시 배경색과 글자색 변경 */
}

/* 2줄로 구성된 footer 스타일링 */

div {
  position: relative;
  padding-bottom: 15px;
}

footer {
  bottom: 0;
}
