/* Styles for the departureLocationPopup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: transparent;
}

.popup-content {
    max-width: 720px;
    max-height: 700px;
    overflow-y: auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
    z-index: 2;
}

.location-selection {
    display: flex;
    flex: 1;
    overflow-y: hidden;
}

.popup-column {
    flex: 1;
    padding: 0 10px;
    overflow-y: auto;
    width: auto;
}

/* Styles for the location lists */
.location-list, .city-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Add scrollbar for vertical overflow */
    max-height: 200px; /* Set max height for the lists */
    display: grid;
}

.location-list li, .city-list li {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0;
    transition: background 0.3s;
    overflow: hidden;
    width: 100px;
    box-sizing: border-box;
}

.location-list li:hover, .city-list li:hover {
    background: #f0f0f0;
}

/* Set grid layout to display in 2 columns for location list */
.location-list {
    grid-template-columns: repeat(3, 1fr);
}

/* Set grid layout to display in 1 column for city list */
.city-list {
    grid-template-columns: 1fr;
}

.popup:after {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    border-radius: 12px;
}

/* 인뎃스 화면 css */
@media ( max-width : 768px) {
	/* 작은 화면일 때의 스타일 */
	/* 햄버거 버튼을 오른쪽 끝에 배치 */
	.navbar-toggler {
		order: 1;
	}

	/* 메뉴가 햄버거로 대체되므로 메뉴는 숨김 */
	.navbar-nav {
		display: none;
	}

	/* 햄버거 메뉴가 보여질 때의 스타일 */
	.navbar-toggler:hover+.navbar-nav {
		display: block;
	}
}

@media ( min-width : 769px) {
	/* 큰 화면일 때의 스타일 */
	/* 메뉴가 보여지고 햄버거 버튼은 숨겨짐 */
	.navbar-toggler {
		display: none;
	}

	/* 로그인과 회원가입을 오른쪽에 배치 */
	.navbar-nav.mr-auto {
		order: 2;
	}

	/* 가운데 정렬을 위해 mx-auto 추가 */
	.navbar-nav {
		mx-auto: auto;
	}
}

#modal {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#modal h2 {
	margin: 0;
}

#modal button {
	display: inline-block;
	width: 100px;
	margin-left: calc(100% - 100px - 10px);
}

#modal .modal_content {
	width: 300px;
	margin: 100px auto;
	padding: 20px 10px;
	background: #fff;
	border: 2px solid #666;
}

#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

#img-container {
	min-width: 100%;
	height: 100px;
	background-size: cover;
	/* 이미지를 화면에 맞게 조절 */
	background-position: center;
	/* 이미지를 가운데 정렬 */
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -1;
}

.container.mt-5 {
	background-color: white;
	padding: 70px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: relative;
	top: -100px;
	z-index: 1;
	margin-bottom: 50px;
	max-width: 50%; /* 최대 80%의 화면 너비까지만 사용 (원하는 크기로 조절) */
}

/* 네비게이션 메뉴가 왼쪽에 위치하도록 조정 */
.notice-table {
	width: 600px;
	border-collapse: collapse;
}

.notice-table th, .notice-table td {
	border: none;
	padding: 10px;
	text-align: center;
}

.notice-table th:nth-child(3), .notice-table td:nth-child(3) {
	width: 400px;
}

.notice-table th:nth-child(2), .notice-table td:nth-child(2) {
	width: 150px;
}

.notice-table tbody tr:not(:last-child) td {
	border-bottom: 2px solid #ddd;
}

.qnaList {
	width: 600px;
	border-collapse: collapse;
	margin-top: 20px;
}

.qna-table {
	width: 100%;
	border-collapse: collapse;
}

.qna-table th, .qna-table td {
	border: none;
	padding: 10px;
	text-align: center;
}

.qna-table tbody tr:not(:last-child) td {
	border-bottom: 2px solid #ddd;
}

.notice h4, .qnaList h4 {
	margin-bottom: 10px;
	text-align: left;
}

.notice-table, .qna-table {
	width: 500px;
	border-collapse: collapse;
	margin-top: 20px;
}

.notice-table th, .notice-table td, .qna-table th, .qna-table td {
	border: none;
	padding: 10px;
	text-align: left;
}

.notice-table th:nth-child(3), .notice-table td:nth-child(3),
	.notice-table th:nth-child(2), .notice-table td:nth-child(2),
	.qna-table th, .qna-table td {
	width: auto;
}

.notice-table tbody tr:not(:last-child) td, .qna-table tbody tr:not(:last-child) td
	{
	border-bottom: 2px solid #ddd;
}

.container {
	margin: 0 auto;
	width: 100%;
	font-weight: bold;
	border-bottom: 2px solid #eee;
	/* 가운데 정렬 및 텍스트 굵게, 하단 선 디자인 */
	padding-bottom: 10px;
	/* 하단 여백 및 그림자 효과 디자인 */
}

.notice, .qnaList {
	width: 48%;
	margin-bottom: 20px;
}

@media ( max-width : 768px) {
	.container.mt-5 {
		flex-direction: column;
	}
	.notice, .qnaList {
		width: 100%;
		margin-left: 0;
	}
}

.notice {
	margin-top: 20px;
	margin-left: 120px;
}

.qnaList {
	width: 48%;
	margin-left: 700px;
	margin-bottom: 10px;
	margin-top: -245px;
}

.notice-table tbody tr:not(:last-child) td, .qna-table tbody tr:not(:last-child) td
	{
	border-bottom: 1px solid #000; /* 밑줄 굵기와 색상을 조절할 수 있습니다. */
}

.notice h4::after, .qnaList h4::after {
	content: "";
	display: block;
	width: 500px; /* 원하는 길이로 조절 가능 */
	height: 2px; /* 원하는 높이(굵기)로 조절 가능 */
	background-color: #000; /* 원하는 색상으로 조절 가능 */
	margin-top: 10px; /* 밑줄과 헤더 사이의 간격을 조절 가능 */
	margin-bottom: -20px;
}