<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CocoT</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>기차 예매</title>
	<link rel="stylesheet" type="text/css" href="css/train.css">
	<script type="text/javascript" src="js/train.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"
        integrity="sha384-Vo3skhE0eeDaex7+9UjFq80+E5+Bb4LXXLjut73toP0jIcrzj2UENFI0+4mYELtD"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/images/mainPage.css">
</head>

<body>
	<div th:replace="~{fragments/header}"></div>

	<!-- 메인 내용 -->
	<div id="img-container">
		<img src="/images/mainPage2.jpeg" alt="메인 페이지 이미지" class="img-fluid"
			style="width: 1200px; height: 450px;">
	</div>
	<div class="container mt-5">
    <h1>기차 예매</h1>
    <form id="trainInfoForm" action="/train/trainInfo" method="get" class="mt-4">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="departureStationName">출발지</label>
                <div class="input-group">
                    <input type="text" id="departureStationName" class="form-control" placeholder="출발지 선택" readonly>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" onclick="openDepartureLocationPopup()">검색</button>
                    </div>
                    <input type="hidden" id="departureStationId" name="depPlaceId">
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="arrivalStationName">도착지</label>
                <div class="input-group">
                    <input type="text" id="arrivalStationName" class="form-control" placeholder="도착지 선택" readonly>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" onclick="openArrivalLocationPopup()">검색</button>
                    </div>
                    <input type="hidden" id="arrivalStationId" name="arrPlaceId">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="depPlandTime">출발 날짜</label>
            <input type="date" id="depPlandTime" name="depPlandTime" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">기차표 검색</button>
        </div>

    </form>
</div>
	<!-- Departure location popup -->
    <div id="departureLocationPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeDepartureLocationPopup()">&times;</span>
            <h2></h2>

	        <!-- City and Train Station Selection -->
	        <div class="location-selection">
	            <!-- City selection -->
	            <div class="citypopup-column">
	                <h5>도시</h5>
	                <ul class="city-list" id="cityCodeList"></ul>
	            </div>
	
	            <!-- Train station selection -->
	            <div class="stationpopup-column">
	                <h5>기차역을 선택하세요.</h5>
	                <ul class="location-list" id="trainStationList" data-current-page="1"></ul>
    				<div class="pagination-container"></div>
	            </div>
	        </div>
        </div>
    </div>
	
	<div class="container">
		<!-- 공지사항 -->
		<div class="notice">
			<div class="notice-header">
				<h4>공지사항</h4>
				<a th:href="@{/notice}"> <img src="/images/plus.png"
					alt="플러스 이미지" class="img"
					style="width: 12px; height: 10px; margin-top: -50px; margin-left: 480px;">
				</a>
			</div>
			<table class="notice-table" th:href="@{/notice}">
				<tbody>
					<tr th:each="notice, iterStat : ${noticeList}" th:height="50px">
						<td align="left"><a th:href="@{/getNotice(nseq=${notice.nseq})}"
							th:text="${notice.ntitle}"></a></td>
						<td><span
							th:text="${#dates.format(notice.createDate, 'yyyy.MM.dd')}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Q&A 목록 -->
		<div class="qnaList">
			<div class="qna-header">
				<h4>자주 묻는 질문</h4>
				<a th:href="@{/qna}"> <img src="/images/plus.png"
					alt="플러스 이미지" class="img"
					style="width: 12px; height: 10px; margin-top: -50px; margin-left: 480px;">
				</a>
			</div>
			<table class="qna-table">
				<form th:action="@{/qnaList}">
					<tbody>
						<!-- 수정: qnaList를 반복하여 각각의 Qna에 접근 -->
						<tr th:each="qna, iterStat : ${qnaList}" th:height="50px">
							<td align="left">
								<!-- 수정: 각 Qna의 제목을 표시 --> <a
								th:href="@{/qna(qseq=${qna.qseq})}" th:text="${qna.qtitle}"></a>
							</td>
						</tr>
					</tbody>
				</form>
			</table>
		</div>
	</div>
	<div th:replace="~{fragments/footer}"></div>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>
