<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>My Page</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="text/javascript" src="/static/js/mypage.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/mypage.css">
</head>
<body>
	<div th:replace="~{fragments/header}"></div>

	<div id="myPageContainer">
		<p>ID: <span th:text="${currentMember != null ? currentMember.id : 'N/A'}"></span></p>
		<p>Name: <span th:text="${currentMember != null ? currentMember.name : 'N/A'}"></span></p>
		<p>Email: <span th:text="${currentMember != null ? currentMember.email : 'N/A'}"></span></p>
		<p>Phone: <span th:text="${currentMember != null ? currentMember.phone : 'N/A'}"></span></p>

		<!-- 비밀번호 변경 폼 추가 -->
		<button type="button" onclick="togglePasswordForm()">비밀번호
			변경하기</button>

		<form id="passwordForm" action="/myPage/changePassword" method="post"
			style="display: none;">
			<!-- 기존 비밀번호 입력 필드 -->
			<label for="currentPassword">현재 비밀번호:</label> <input type="password"
				id="currentPassword" name="currentPassword" required>

			<!-- 새로운 비밀번호 입력 필드 -->
			<label for="newPassword">새로운 비밀번호:</label> <input type="password"
				id="newPassword" name="newPassword" required>

			<!-- 비밀번호 확인 입력 필드 -->
			<label for="confirmPassword">비밀번호 확인:</label> <input type="password"
				id="confirmPassword" name="confirmPassword" required>

			<!-- 제출 버튼 -->
			<button type="button" onclick="validatePasswordForm()">비밀번호 변경</button>
		</form>
		<br> <br>
		<!-- 회원 탈퇴 폼 추가 -->
		<button type="button" onclick="toggleWithdrawPassword()">회원 탈퇴</button>

		<form id="withdrawPasswordForm" action="/myPage/deleteAccount" method="post" style="display: none;">
		    <input type="hidden" name="memberId" th:value="${currentMember.id}" />
		
		    <!-- 추가: 현재 비밀번호 입력 필드 -->
		    <label for="withdrawPassword">현재 비밀번호 확인:</label>
		    <input type="password" id="withdrawPassword" name="withdrawPassword" required>
		
		    <!-- 수정: submit 버튼에 confirmWithdraw 함수 호출 추가 -->
		    <button type="button" onclick="confirmWithdraw()">회원 탈퇴</button>
		</form>

	</div>
	<div th:replace="~{fragments/footer}"></div>
</body>
</html>
