<!-- seatSelection.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약 하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/seatSelection.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/seatSelection.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>예약 하기</h1>
    
    <!-- 예약 정보를 출력하는 부분 -->
    <div class="reservation-info">
        <p>열차 번호: <span th:text="${trainNo}"></span></p>
        <p>열차 정보: <span th:text="${trainGrade}"></span></p>
        <p>출발지: <span th:text="${depPlace}"></span></p>
        <p>출발 시간: <span th:text="${depTime}"></span></p>
        <p>도착지: <span th:text="${arrPlace}"></span></p>
        <p>도착 시간: <span th:text="${arrTime}"></span></p>
        <p>요금: <span th:text="${adultCharge}"></span></p>
    </div>
	
	<!-- 결제하기 버튼 -->
    <button id="paymentButton" class="btn primary" onclick="redirectToPayment()">결제하기(toss)</button>
    
    <a href="/">홈으로 돌아가기</a>
    <!-- 필요한 경우 JavaScript 파일도 추가하세요. -->
    <a href="/" th:href="@{/test.html}">테스트홈으로 돌아가기</a>
    <script type="text/javascript">
        function redirectToPayment() {
        	console.log("Redirecting to payment");
        	window.open('/toss/checkout.html', 'PaymentWindow', 'width=900,height=800');
        }
    </script>
</body>
</html>