<!-- trainInfo.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>열차 정보</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/train.tickets.css}">
</head>
<body>
    <h1>열차 정보</h1>
    <table>
        <thead>
            <tr>
                <th>열차 번호</th>
                <th>열차 유형</th>
                <th>출발</th>
                <th>출발 시간</th>
                <th>도착</th>
                <th>도착 시간</th>
                <th>요금</th>
            </tr>
        </thead>
        <tbody>
    <!-- Check if trainInfo is a list or a single item -->
    <th:block th:if="${trainInfo['response']['body']['items']['item'] instanceof T(java.util.List)}">
        <tr th:each="train : ${trainInfo['response']['body']['items']['item']}">
            <td th:text="${train.trainno}"></td>
            <td th:text="${train.traingradename}"></td>
            <td th:text="${train.depplacename}"></td>
            <td th:text="${train.depplandtime}"></td>
            <td th:text="${train.arrplacename}"></td>
            <td th:text="${train.arrplandtime}"></td>
            <td th:text="${train.adultcharge}"></td>
        </tr>
    </th:block>
    <th:block th:unless="${trainInfo['response']['body']['items']['item'] instanceof T(java.util.List)}">
        <!-- Convert single item to a list and iterate -->
        <tr th:each="train : ${#numbers.sequence(0, 0)}">
            <td th:text="${trainInfo['response']['body']['items']['item'].trainno}"></td>
            <td th:text="${trainInfo['response']['body']['items']['item'].traingradename}"></td>
            <td th:text="${trainInfo['response']['body']['items']['item'].depplacename}"></td>
            <td th:text="${trainInfo['response']['body']['items']['item'].depplandtime}"></td>
            <td th:text="${trainInfo['response']['body']['items']['item'].arrplacename}"></td>
            <td th:text="${trainInfo['response']['body']['items']['item'].arrplandtime}"></td>
            <td th:text="${trainInfo['response']['body']['items']['item'].adultcharge}"></td>
        </tr>
    </th:block>
</tbody>
    </table>
	<div class="pagination-container">
	    <a id="firstPageButton" th:if="${not isFirstPage}" href="#" th:href="${firstPageUrl}">&laquo;</a>
        <a id="previousButton" th:if="${not isFirstPage}" href="#" th:href="${previousPageUrl}">이전</a>
        <span th:text="${currentPage}"></span>
        <a id="nextButton" th:if="${not isLastPage}" href="#" th:href="${nextPageUrl}">다음</a>
	    <a id="lastPageButton" th:if="${not isLastPage}" href="#" th:href="${lastPageUrl}">&raquo;</a>
        <a id="viewNextDayButton" th:if="${lastPage}" href="#" th:href="${checkNextDayUrl}">다음날 조회</a>
    </div>
    <a href="/" th:href="@{/test.html}">테스트홈으로 돌아가기</a>
    <script type="text/javascript" th:src="@{/js/train.js}"></script>
</body>
</html>
