<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/train.tickets.css}">
</head>
<body>
    <h1>Train Information</h1>
    <table>
        <thead>
            <tr>
                <th>Train Number</th>
                <th>Train Type</th>
                <th>Departure</th>
                <th>Departure Time</th>
                <th>Arrival</th>
                <th>Arrival Time</th>
                <th>Fare</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="train : ${trainInfo['response']['body']['items']['item']}">
                <td th:text="${train['trainno']}"></td>
                <td th:text="${train['traingradename']}"></td>
                <td th:text="${train['depplacename']}"></td>
                <td th:text="${#dates.format(train['depplandtime'], 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${train['arrplacename']}"></td>
                <td th:text="${#dates.format(train['arrplandtime'], 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${train['adultcharge']}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/" th:href="@{/test.html}">Return to Home</a>
    <script type="text/javascript" th:src="@{/js/train.js}"></script>
</body>
</html>
